.topToolBar{
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 152, 0, 0.3);
  display: flex;
  align-items: center;
  /* position: fixed;
  top: 0; */
  z-index: 1000;
  /* justify-content: space-between; */
}

.topToolBar > *{
  margin-left: 1rem;

}

.rightToolBar{
  width: 4rem;
  height: calc(100vh - 5rem);;
  float: right;
  background-color:rgba(255, 152, 0, 0.3);
}

.iconWrapper{
  background-color: red;
}

.topCornerRightButton {
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  z-index: 101;
  font-size: 1.6rem;
  margin-bottom: .1rem;
}
